name: Upload bundle file as assets

on:
  workflow_call:

permissions:
  contents: write

env:
  APP_ENV: production
  APP_DEBUG: false

jobs:
  build-assets:
    name: Build assets with PHP ${{ matrix.php-versions }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: ["8.1", "8.2", "8.3"]

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup PHP ${{ matrix.php-versions }}
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: pcntl, zip, intl, exif, mbstring, dom, fileinfo

      - name: Install Composer Dependencies
        run: composer install -q --no-interaction --no-scripts --no-progress --prefer-dist --optimize-autoloader

      - name: Compress into Zip file
        run: zip -r -q -9 -X radioroster_${{ github.ref_name }}-php${{ matrix.php-versions }}.zip .

      - name: Upload zip file as asset
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: radioroster_${{ github.ref_name }}-php${{ matrix.php-versions }}.zip
